.st1{
    background-color: #009933;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: left;
    border-radius: 6px;
}
.st2{
    color: black;
}
ul li{
    list-style-type: none;
    background: lightgray;
    margin: 5px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px;
}
.st3{
    background: #009933;
    border: 1px solid gray;
}