.st1{
    background-color: #4caf50;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: left;
    border-radius: 6px;
}
.st2{
    color: black;
}
ul li{
    list-style-type: none;
    background: lightgray;
    margin: 5px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px;
}
.st3{
    background: #4caf50;
    border: 1px solid gray;
}
.st4{
    background-color: #57afe9;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: left;
    border-radius: 3px;
}
.st5{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    color: black;
    text-align: center;
    border-radius: 3px;
    border: 1px solid gray;
}